---
---
<nav class="nav-bar">
    <p class="heading-text">pauldhanda.com</p>
</nav>

<style>
    .heading-text {
        font-size: xx-large;
        padding: 2vh;
    }
    .nav-bar {
        display: flex;
        align-items: center;
        height: 10vh;
    }
</style>