---
import { ViewTransitions } from "astro:transitions";
import NavBar from "../components/NavBar.astro"
import "../master.css"
---

<!doctype html>
<html lang="en">
  <head>
    <ViewTransitions />
    <meta charset="UTF-8" />
    <meta name="description" content="Paul's Personal Website" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Paul Dhanda</title>
  </head>
  <body>
    <div>
      <NavBar/>
      <div class="container">
        <slot />
      </div>
    </div>
  </body>
</html>

<style>
  .container {
    padding: 3rem;
    margin: auto;
  }
</style>